<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>UserManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.ArithmeticException</exception-type>
    <location>/errorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/errorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errorPage.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>JoinOk</display-name>
    <servlet-name>JoinOk</servlet-name>
    <servlet-class>kr.co.user.ex.JoinOk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinOk</servlet-name>
    <url-pattern>/JoinOk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginOk</display-name>
    <servlet-name>LoginOk</servlet-name>
    <servlet-class>kr.co.user.ex.LoginOk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOk</servlet-name>
    <url-pattern>/LoginOk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyOk</display-name>
    <servlet-name>ModifyOk</servlet-name>
    <servlet-class>kr.co.user.ex.ModifyOk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyOk</servlet-name>
    <url-pattern>/ModifyOk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserModify</display-name>
    <servlet-name>UserModify</servlet-name>
    <servlet-class>kr.co.user.ex.UserModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserModify</servlet-name>
    <url-pattern>/UserModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PauseUser</display-name>
    <servlet-name>PauseUser</servlet-name>
    <servlet-class>kr.co.user.ex.PauseUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PauseUser</servlet-name>
    <url-pattern>/PauseUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>kr.co.user.ex.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
</web-app>